* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	background: rgba(0, 0, 0, 0.2);
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
	max-width: 1600px;
	width: 100%;
	background: #e4e4e4;
	margin: 0 auto auto;
	padding-bottom: 25px;
}

footer {
	flex: 0 0 auto;

	i {
		font-size: 25px;
		color: darkgrey;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: 0 auto;
	max-width: 1400px;
}

.card-buttons {
	display: flex;
	align-content: center;
	justify-content: center;
	gap: 10px;

	.btn {
		width: max-content !important;
	}
}
