* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	background: rgba(0, 0, 0, 0.2);
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
	max-width: 1600px;
	width: 100%;
	background: #e4e4e4;
	margin: 0 auto auto;
}

footer {
	flex: 0 0 auto;

	i {
		font-size: 25px;
		color: darkgrey;
	}
}

.breadcrumb-container {
	background: rgba(255, 255, 255, 0.8);
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0 25px;
	margin-bottom: 25px;

	.breadcrumb {
		margin: 0;
	}
}
