<form class="login_form" (ngSubmit)="onSubmit()">
	<div class="row">
		<div class="col">
			<a href="#" class="btn login_form__social btn-primary facebook disabled">
				<span>{{ 'REGISTRATION_SOCIAL_FACEBOOK' | translate }}</span>
				<fa-icon [icon]="faFacebook"></fa-icon>
			</a>
		</div>

		<div class="col">
			<a href="#" class="btn login_form__social btn-primary google disabled">
				<span>{{ 'REGISTRATION_SOCIAL_GOOGLE' | translate }}</span>
				<fa-icon [icon]="faGoogle"></fa-icon>
			</a>
		</div>
	</div>

	<div class="form-group">
		<input type="email" name="email" [(ngModel)]="user.email"
			   class="form-control" id="email" placeholder="{{ 'LOGIN_EMAIL' | translate }}">
	</div>

	<div class="form-group mt-3">
		<input type="text" name="fullName" [(ngModel)]="user.fullName"
			   class="form-control" id="fullName" placeholder="{{ 'REGISTRATION_FULL_NAME' | translate }}">
	</div>

	<div class="form-group mt-3 mb-4">
		<input type="password" name="password" [(ngModel)]="user.password"
			   class="form-control" id="password" placeholder="{{ 'LOGIN_PASSWORD' | translate }}">
	</div>

	<div class="login_form__button-wrapper">
		<button type="submit" class="btn btn-primary login-button">{{ 'REGISTRATION_SUBMIT_BUTTON' | translate }}</button>
	</div>

	<div class="login_form__message">
		<p>{{ 'REGISTRATION_LOGIN_HINT' | translate }}
			<a routerLink="/login">{{ 'REGISTRATION_LOGIN' | translate }}</a>
			<span> or </span>
			<a routerLink="/restore" class="link-danger">{{ 'LOGIN_FORGOT_PASSWORD' | translate }}</a>
		</p>
	</div>
</form>
