<form class="form">
	<p class="text-muted">
		<small>{{ 'CONFIRMATION_HINT' | translate }}</small>
	</p>

	<p class="text-danger" *ngIf="errorCode != null">
		<small *ngIf="errorCode === 'key_is_missing'">{{ 'CONFIRMATION_KEY_IS_MISSING' | translate }}</small>
		<small *ngIf="errorCode === 'unknown_error'">{{ 'CONFIRMATION_UNKNOWN_ERROR' | translate }}</small>
	</p>

	<p class="text-success" *ngIf="activationSuccess">
		<small>{{ 'CONFIRMATION_SUCCESS' | translate }}</small>
	</p>

	<div class="confirmation__button-wrapper">
		<a routerLink="/login" class="btn btn-primary login-button">
			{{ 'CONFIRMATION_LOGIN_BUTTON' | translate }}
		</a>
	</div>
</form>
