<main-root>
	<app-breadcrumb></app-breadcrumb>

	<div class="flex-center">
		<a routerLink="/brands/create" class="btn btn-primary flex-center" style="max-width: 400px;">
			<i class="bi bi-car-front-fill"></i>

			<span class="mx-3">
				{{ 'BRANDS_ADD_CAR_BRAND_BUTTON' | translate }}
			</span>
		</a>
	</div>

	<div class="mt-4 buttons-group">
		<app-dropdown
			[items]="countries"
			[selectedItem]="selectedCountry"
			[firstItemText]="('BRANDS_DROPDOWN_SELECT_COUNTRY_ALL' | translate) + ' (' + (getBrandsCountByCountry(selectedCountry)) + ')'"
			placeholder="{{ 'BRANDS_DROPDOWN_SELECT_COUNTRY' | translate }}"
			(itemSelected)="selectCountry($event)"
			[itemTemplate]="countryTemplate">
		</app-dropdown>

		<ng-template #countryTemplate let-country>
			<img [src]="country.iconResource.url"
				 [alt]="country.name.en"
				 [width]="20"
				 [height]="20"
				 class="me-2">
			{{ country.name.en }} ({{ getBrandsCountByCountry(country) }})
		</ng-template>

		<div class="flex-center">
			<div class="input-group me-2" style="min-width: 250px">
				<input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm">
			</div>

			<button type="submit" class="btn btn-primary" (click)="clearSearchInput()">
				{{ 'BRANDS_CLEAR_SEARCH_INPUT_BUTTON' | translate }}
			</button>
		</div>
	</div>

	<div class="brands">
		<ng-container *ngFor="let brand of filteredBrands">
			<div class="card brands__card" *ngIf="!selectedCountry || brand.country?.id === selectedCountry.id">
				<img src="{{ brand.imageResource.url }}"
					 class="card-img-top" [alt]="brand.brand">

				<div class="card-body">
					<h5 class="card-title">{{ brand.brand }}</h5>

					<div class="country" *ngIf="brand.country">
						<img src="{{ brand.country.iconResource.url }}">
						<p class="card-text">{{ brand.country.name.en }}</p>
					</div>

					<div class="card-buttons mt-3">
						<a [routerLink]="['/cars', brand.id]" class="btn btn-primary" style="width: 70% !important;">
							{{ 'BRANDS_VIEW_CARS_BUTTON' | translate }}
						</a>

						<a [routerLink]="['/brands', brand.id]" class="btn btn-primary">
							<i class="bi bi-pencil-fill"></i>
						</a>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</main-root>
