:root {
	--p-inputtext-border-radius: 3px !important;
	--p-inputtext-background: #fafafa !important;
	--p-inputtext-focus-border-color: #4285f4 !important;
	--p-inputtext-focus-ring-shadow: 0 0 0 0.25rem rgba(0,123,255,.25) !important;
}

.content-container {
	display: flex;
	height: 100%;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	.left-panel {
		min-width: 300px;

		.p-multiselect {
			width: 100%;
		}
	}
}

.brands-container {
	width: 100%;
	padding: 0 25px;

	.brands {
		gap: 20px;
		margin: 30px auto;

		box-sizing: border-box;
		display: grid !important;
		grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));


		&__card {
			width: 100%;
			max-width: 600px;

			.card-img-top {
				max-width: max-content;
				margin: auto;
			}

			.country {
				display: flex;
				align-items: center;
				margin: 10px 0;

				img {
					max-width: 20px;
					margin-right: 7px;
				}
			}
		}
	}
}

.form-control {
	height: 50px;
	border: 1px solid #ced4da;
}

.buttons-group {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
