.brands {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: 30px auto;
	max-width: 1400px;

	&__card {
		width: 18rem;

		.country {
			display: flex;
			align-items: center;
			margin: 10px 0;

			img {
				max-width: 20px;
				margin-right: 7px;
			}
		}
	}
}

.form-control {
	height: 50px;
	border: 1px solid #ced4da;
}

.buttons-group {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
