<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="alert alert-success" role="alert" *ngIf="success">
		{{ 'RESTORE_SUCCESS_CHANGE_PASSWORD' | translate }}
	</div>

	<div class="alert alert-danger" role="alert" *ngIf="passwordRepeatInputComponent?.isInvalid">
		<small>{{ 'REGISTRATION_ERROR_PASSWORDS_NOT_MATCH' | translate }}</small>
	</div>

	<div class="alert alert-danger" role="alert" *ngIf="errorCode" [ngSwitch]="errorCode">
		<small *ngSwitchCase="'key_is_invalid'">
			{{ 'RESTORE_ERROR_INVALID_KEY' | translate }}
		</small>

		<small *ngSwitchDefault>{{ 'UNKNOWN_ERROR' | translate }}</small>
	</div>

	<div class="form-group" *ngIf="!success && errorCode == null">
		<label class="text-muted">
			<small>{{ 'RESTORE_ENTER_PASSWORDS' | translate }}</small>
		</label>

		<password-input-root #passwordInput
							 [formControl]="passwordControl"
							 placeholder="{{ 'LOGIN_PASSWORD' | translate }}"></password-input-root>

		<password-input-root #passwordRepeatInput
							 [formControl]="passwordRepeatControl"
							 placeholder="{{ 'REGISTRATION_PASSWORD_REPEAT' | translate }}"></password-input-root>
	</div>

	<div class="form__button-wrapper mt-4">
		<button type="submit"
				[disabled]="form.invalid"
				class="btn btn-primary login-button"
				*ngIf="!success && errorCode !== 'key_is_invalid'">

			{{ 'RESTORE_SUBMIT_BUTTON' | translate }}
		</button>

		<a routerLink="/login" class="btn btn-primary login-button" *ngIf="success || errorCode === 'key_is_invalid'">
			{{ 'CONFIRMATION_LOGIN_BUTTON' | translate }}
		</a>
	</div>

	<div class="form__message">
		<p>{{ 'REGISTRATION_LOGIN_HINT' | translate }}
			<a routerLink="/login">{{ 'REGISTRATION_LOGIN' | translate }}</a>
			<span> or </span>
			<a routerLink="/registration">{{ 'LOGIN_SIGN_UP' | translate }}</a>
		</p>
	</div>
</form>
