:root {
	--p-select-border-radius: 3px !important;
	--p-select-background: #fafafa !important;
	--p-select-placeholder-color: rgba(0, 0, 0, 0.7) !important;

	--p-select-option-selected-background: rgba(0, 123, 255, .05) !important;
	--p-select-option-selected-color: #2466d4 !important;

	--p-select-option-selected-focus-background: rgba(0, 123, 255, .1) !important;
	--p-select-option-selected-focus-color: #2466d4 !important;

	--p-select-focus-border-color: #4285f4 !important;
	--p-select-focus-ring-shadow: 0 0 0 0.25rem rgba(0, 123, 255, .25) !important;

	--p-inputtext-border-radius: 3px !important;
	--p-inputtext-background: #fafafa !important;
	--p-inputtext-focus-border-color: #4285f4 !important;
	--p-inputtext-focus-ring-shadow: 0 0 0 0.25rem rgba(0,123,255,.25) !important;
}

.form-container {
	display: block;
}

.p-select {
	padding: 5px !important;

	span {
		font-size: 14px;
	}
}

.p-inputtext {
	font-size: 14px;

	&:focus {
		margin: 5px 0;
	}
}

.image-container {
	text-align: center;

	@media (max-width: 1024px) {
		width: 100%;
	}

	.image {
		max-width: 400px;
		width: 100%;
		margin-top: 10px;

		@media (max-width: 500px) {
			min-width: 100% !important;
		}
	}
}

.form-wrapper {
	width: max-content;

	.form {
		max-width: max-content !important;
		min-width: 600px;
		margin: 0;

		@media (max-width: 680px) {
			min-width: 100% !important;
		}

		@media (max-width: 1200px) {
			max-width: 100% !important;
			min-width: 0 !important;
		}
	}

	@media (max-width: 680px) {
		width: 100% !important;
	}
}

.data-container {
	display: flex;
	gap: 30px;

	&__inputs {
		min-width: 450px;

		@media (max-width: 680px) {
			min-width: 100% !important;
		}

		@media (max-width: 500px) {
			.col-6 {
				width: 100% !important;
			}
		}
	}

	@media (max-width: 1200px) {
		flex-direction: column;
		gap: 0;
	}
}

.buttons-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	max-width: 600px;
	width: 100%;
	margin: 25px auto 30px;
	padding: 0 20px;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}

.preview-img {
	max-width: 400px;
	width: 100%;
}
