<main-root>
	<app-breadcrumb [brand]="brand" [marginBottom]="0"></app-breadcrumb>

	<div class="content-container">
		<left-panel [menuItems]="menuItems" selectedItemId="cars">
			<ng-template #topContentTemplate>
				<div class="mb-4">
					<bootstrap-button
						[text]="'CARS_ADD_CAR_BUTTON' | translate"
						[bootstrapIconId]="'bi-car-front-fill'"
						[routerLink]="['/cars', this.brand?.id, 'create']">
					</bootstrap-button>
				</div>

				<div class="mb-3">
					<label class="form-label text-muted">
						{{ 'SEARCH_INPUT' | translate }}
					</label>

					<p-inputgroup>
						<p-inputgroup-addon>
							<i class="pi pi-search"></i>
						</p-inputgroup-addon>

						<input pInputText [(ngModel)]="searchTerm"
							   placeholder="{{ 'CARS_SEARCH_INPUT_PLACEHOLDER' | translate }}"
							   size="small" />

						<p-inputgroup-addon>
							<p-button icon="pi pi-times"
									  severity="secondary"
									  (click)="clearSearchInput()"
									  pTooltip="{{ 'BRANDS_CLEAR_SEARCH_INPUT_BUTTON' | translate }}"
									  tooltipPosition="bottom" />
						</p-inputgroup-addon>
					</p-inputgroup>
				</div>

				<div class="mb-3">
					<label class="form-label text-muted">
						{{ 'CREATE_CAR_TRANSMISSIONS' | translate }}
					</label>

					<p-multiselect
						[(ngModel)]="selectedTransmissions"
						[options]="transmissionOptions"
						optionLabel="label"
						optionValue="value"
						[filter]="true"
						placeholder="{{ 'PRIMENG_DIALOG_SERVICE_SELECT_TRANSMISSIONS' | translate }}"
						appendTo="body">
					</p-multiselect>
				</div>
			</ng-template>
		</left-panel>

		<div class="d-flex flex-no-wrap">
			<div class="cars-container">
				<div class="cards cars">
					<ng-container *ngFor="let car of filteredCars">
						<div class="card cars__card">
							<img src="{{ car.imageResource?.url }}" class="card-img-top" [alt]="car.model">

							<div class="card-body">
								<h5 class="card-title">
									{{ car.model }}
								</h5>

								<p class="card-text">
									{{ car.startYear }} - {{ car.endYear || this.currentYear }}
								</p>
							</div>

							<div class="card-buttons mt-3">
								<a [routerLink]="['/cars/', this.brand?.id, car.id]" class="btn btn-primary">
									<i class="bi bi-nut-fill"></i>
									{{ 'CARS_VIEW_BUTTON' | translate }}
								</a>

								<a [routerLink]="['/brands', 2]" class="btn-danger btn">
									<i class="bi bi-trash-fill"></i>
									{{ 'CARS_DELETE_BUTTON' | translate }}
								</a>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</main-root>
