<p-confirmDialog
	[header]="'CAR_DELETE_DIALOG_HEADER' | translate"
	[message]="'CAR_DELETE_DIALOG_MESSAGE' | translate"
	[acceptLabel]="'CAR_DELETE_DIALOG_ACCEPT' | translate"
	[rejectLabel]="'CAR_DELETE_DIALOG_REJECT' | translate"
	icon="pi pi-exclamation-triangle">
</p-confirmDialog>

<main-root>
	<app-breadcrumb [brand]="brand" [marginBottom]="0"></app-breadcrumb>

	<div class="content-container">
		<left-panel [menuItems]="menuItems" selectedItemId="cars">
			<ng-template #topContentTemplate>
				<div class="mb-4">
					<bootstrap-button
						[text]="'CARS_ADD_CAR_BUTTON' | translate"
						[bootstrapIconId]="'bi-car-front-fill'"
						[routerLink]="['cars', this.brand?.id, 'create'] | langLink">
					</bootstrap-button>
				</div>

				<div class="mb-3">
					<label class="form-label text-muted">
						{{ 'SEARCH_INPUT' | translate }}
					</label>

					<p-inputgroup>
						<p-inputgroup-addon>
							<i class="pi pi-search"></i>
						</p-inputgroup-addon>

						<input pInputText [(ngModel)]="searchTerm"
							   placeholder="{{ 'CARS_SEARCH_INPUT_PLACEHOLDER' | translate }}"
							   size="small" />

						<p-inputgroup-addon>
							<p-button icon="pi pi-times"
									  severity="secondary"
									  (click)="clearSearchInput()"
									  pTooltip="{{ 'BRANDS_CLEAR_SEARCH_INPUT_BUTTON' | translate }}"
									  tooltipPosition="bottom" />
						</p-inputgroup-addon>
					</p-inputgroup>
				</div>

				<div class="mb-3">
					<label class="form-label text-muted">
						{{ 'CREATE_CAR_TRANSMISSIONS' | translate }}
					</label>

					<p-multiselect
						[(ngModel)]="selectedTransmissions"
						[options]="transmissionOptions"
						optionLabel="label"
						optionValue="value"
						[filter]="true"
						placeholder="{{ 'PRIMENG_DIALOG_SERVICE_SELECT_TRANSMISSIONS' | translate }}"
						appendTo="body">
					</p-multiselect>
				</div>
			</ng-template>
		</left-panel>

		<div class="cars-container">
			<alert-root type="danger"
				*ngIf="responseType == CarsResponseType.CAR_DELETE_HAS_DEPENDENCIES_ERROR"
				text="{{ 'CARS_DELETE_HAS_DEPENDENCIES_ERROR' | translate }}">
			</alert-root>

			<alert-root *ngIf="responseType == CarsResponseType.CAR_DELETE_SUCCESS"
						text="{{ 'CARS_DELETE_SUCCESS' | translate }}">
			</alert-root>

			<div class="cards cars">
				<ng-container *ngFor="let car of filteredCars">
					<div class="card cars__card">
						<img src="{{ car.imageResource?.url }}" class="card-img-top" [alt]="car.model">

						<div class="card-body">
							<h5 class="card-title">
								{{ car.model }}
							</h5>

							<p class="card-text">
								{{ car.startYear }} - {{ car.endYear || this.currentYear }}
							</p>
						</div>

						<div class="card-buttons mt-3">
							<a [routerLink]="['cars', this.brand?.id, car.id] | langLink" class="btn btn-primary">
								<i class="bi bi-nut-fill"></i>
								{{ 'CARS_VIEW_BUTTON' | translate }}
							</a>

							<a  class="btn-danger btn"
								(click)="onDeleteCar(car)">

								<i class="bi bi-trash-fill"></i>
								<span>{{ 'CARS_DELETE_BUTTON' | translate }}</span>
							</a>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</main-root>
