<form [formGroup]="form">
	<div *ngIf="currentPasswordControl" class="mb-4">
		<label class="form-label text-muted">
			{{ 'PASSWORD_WITH_REPEAT_INPUT_CURRENT_PASSWORD_LABEL' | translate }} <small class="text-danger">*</small>
		</label>

		<password-input-root #currentPasswordInput
							 [formControl]="currentPasswordControl"
							 placeholder="{{ 'PASSWORD_WITH_REPEAT_INPUT_CURRENT_PASSWORD_PLACEHOLDER' | translate }}">
		</password-input-root>

		<div *ngIf="currentPasswordInputComponent?.isInvalid" class="invalid-feedback d-block">
			<span>
				{{ 'PASSWORD_WITH_REPEAT_ERROR_PASSWORD_EMPTY' | translate }}
			</span>
		</div>
	</div>

	<div class="mb-4">
		<label class="form-label text-muted">
			{{ (useFieldCurrentPassword ? 'PASSWORD_WITH_REPEAT_INPUT_NEW_PASSWORD_LABEL' :
				'PASSWORD_WITH_REPEAT_INPUT_PASSWORD_LABEL') | translate }} <small class="text-danger">*</small>
		</label>

		<password-input-root #passwordInput
							 [formControl]="passwordControl"
							 placeholder="{{ 'PASSWORD_WITH_REPEAT_INPUT_PASSWORD_PLACEHOLDER' | translate }}">
		</password-input-root>

		<div *ngIf="passwordInputComponent?.isInvalid" class="invalid-feedback d-block">
			<span>
				{{ 'PASSWORD_WITH_REPEAT_ERROR_PASSWORD_EMPTY' | translate }}
			</span>
		</div>
	</div>

	<div>
		<label class="form-label text-muted">
			{{ 'PASSWORD_WITH_REPEAT_INPUT_PASSWORD_REPEAT_LABEL' | translate }} <small class="text-danger">*</small>
		</label>

		<password-input-root #passwordRepeatInput
							 [formControl]="passwordRepeatControl"
							 placeholder="{{ 'PASSWORD_WITH_REPEAT_INPUT_PASSWORD_REPEAT_PLACEHOLDER' | translate }}">
		</password-input-root>

		<div *ngIf="passwordRepeatInputComponent?.isInvalid" class="invalid-feedback d-block">
			<span>
				{{ 'PASSWORD_WITH_REPEAT_ERROR_PASSWORDS_DONT_MATCH' | translate }}
			</span>
		</div>
	</div>
</form>
