.news-container {
	max-width: 800px;
	margin: auto;
	background: white;
	border-radius: 20px;
	padding: 20px;
}

.news-item {
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(108, 117, 125, 0.2);

	&:last-child {
		border-bottom: none;
	}

	.news {
		max-width: 750px;
		width: 100%;

		&__date {
			font-weight: 500;
			font-size: 14px;
		}

		&__auditable {
			font-weight: 400;
			font-size: 14px;

			.pi {
				font-size: 12px;
			}
		}

		&__bottom {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
			gap: 10px;

			.bottom-item {
				display: flex;
				flex-direction: row;
				gap: 8px;
			}

			@media (max-width: 420px) {
				flex-direction: column;
			}
		}
	}
}

li {
	white-space: normal;
	word-wrap: normal;
	overflow-wrap: anywhere;
}
