<main-root>
	<app-breadcrumb></app-breadcrumb>

	<div class="flex-center mb-4">
		<button type="button"
				class="btn btn-primary flex-center"
				style="width: max-content;"
				(click)="onClickEditNews(null)">

			<i class="pi pi-wrench" style="font-size: 1rem"></i>

			<span class="mx-3">
				Add news
			</span>
		</button>
	</div>

	<p-toast></p-toast>

	<news-editor-root (onSaved)="handleNewsSaved($event)"></news-editor-root>

	<p-confirmDialog [header]="'NEWS_DELETE_DIALOG_HEADER' | translate"
					 [message]="'NEWS_DELETE_DIALOG_MESSAGE' | translate"
					 [acceptLabel]="'NEWS_DELETE_DIALOG_ACCEPT' | translate"
					 [rejectLabel]="'NEWS_DELETE_DIALOG_REJECT' | translate"
					 icon="pi pi-exclamation-triangle">
	</p-confirmDialog>

	<div class="news-container">
		<alert-root *ngIf="deletedSuccess"
					text="{{ 'NEWS_DELETE_SUCCESS_MESSAGE' | translate }}">
		</alert-root>

		<div class="d-flex justify-content-end align-items-center gap-3 mb-2">
			<label class="text-muted">{{ 'NEWS_SORT_LABEL' | translate}}: </label>

			<p-dropdown
				[options]="sortOptions"
				[(ngModel)]="selectedSort"
				placeholder="{{ 'NEWS_SORT_PLACEHOLDER' | translate }}">

				<ng-template pTemplate="selectedItem" let-selected>
					{{ selected.label | translate }}
				</ng-template>

				<ng-template let-option pTemplate="item">
					{{ option.label | translate }}
				</ng-template>
			</p-dropdown>
		</div>

		<p-dataview #dv [value]="sortedNews" [paginator]="true" [rows]="3">
			<ng-template #list let-items>
				<div class="d-grid gap-4">
					<div class="news-item" *ngFor="let newsItem of items; let first = first">
						<div class="d-flex justify-content-between flex-row"
							 [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">

							<div class="w-100">
								<span class="news__date text-secondary">
									{{ newsItem.delayedPostingDate | date:'dd.MM.yyyy HH:mm' }}
								</span>

								<p *ngIf="newsItem.hasBeenUpdated()" class="news__auditable text-secondary mt-2">
									<i class="pi pi-pencil"></i>
									{{ newsItem.updatedAt | date:'dd.MM.yyyy HH:mm' }}
								</p>

								<h5 class="font-medium fw-bold my-3">
									{{ localizationService.getLocalizedString(newsItem.title) }}
								</h5>

								<div class="text-sm text-secondary mt-2"
									 [innerHTML]="formattedText(localizationService.getLocalizedString(newsItem.content))"></div>

								<div class="news__bottom">
									<div class="bottom-item">
										<p-tag *ngFor="let option of newsItem.postingOptions"
											   [value]="getPostingLabel(option)">
										</p-tag>
									</div>

									<div class="bottom-item">
										<p-button icon="pi pi-pencil" severity="info"
												  tooltip="Редактировать"
												  (click)="onClickEditNews(newsItem)" />

										<p-button icon="pi pi-trash" severity="danger" tooltip="Удалить"
												  (click)="deleteNews(newsItem)" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</p-dataview>
	</div>
</main-root>
