<main-root>
	<app-breadcrumb></app-breadcrumb>

	<div class="flex-center mb-4">
		<button type="button"
				class="btn btn-primary flex-center"
				style="width: max-content;"
				(click)="onClickEditNews(null)">

			<i class="pi pi-wrench" style="font-size: 1rem"></i>

			<span class="mx-3">
				Add news
			</span>
		</button>
	</div>

	<p-toast></p-toast>

	<news-editor-root (onSaved)="handleNewsSaved($event)"></news-editor-root>

	<div class="news-container">
		<p-dataview #dv [value]="news" [paginator]="true" [rows]="5">
			<ng-template #list let-items>
				<div class="d-grid grid-cols-12 gap-4">
					<div class="col-span-12" *ngFor="let newsItem of items; let first = first">
						<div class="d-flex justify-content-between flex-row"
							 [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">

							<div class="news">
								<span class="news__date text-secondary">
									{{ newsItem.delayedPostingDate | date:'dd.MM.yyyy HH:mm' }}
								</span>

								<h5 class="font-medium fw-bold my-3">
									{{ newsItem.title.en }}
								</h5>

								<div class="text-sm text-secondary mt-2"
									 [innerHTML]="formattedText(getTruncatedContent(newsItem.content))"></div>

								<div class="news__bottom">
									<div class="bottom-item">
										<p-tag *ngFor="let option of newsItem.postingOptions"
											   [value]="getPostingLabel(option)">
										</p-tag>
									</div>

									<div class="bottom-item">
										<p-button icon="pi pi-pencil" severity="info"
												  tooltip="Редактировать"
												  (click)="onClickEditNews(newsItem)" />

										<p-button icon="pi pi-trash" severity="danger" tooltip="Удалить"
												  (click)="deleteNews(newsItem)" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</p-dataview>

	</div>

</main-root>
