.note-preview {
	max-width: 700px;

	.card-body .card-text img {
		width: 100%;
	}

	a {
		width: max-content;
		text-decoration: none;
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0 100%;
		background-repeat: no-repeat;
		background-size: 0% 1px;
		transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
	}

	a:hover,
	a:focus {
		text-decoration: none;
		background-size: 100% 1px;
	}
}

