.modal-dialog {
	.modal-footer {
		.btn {
			width: max-content;
			height: 45px;
			padding: 0 20px;
		}
	}

	.modal-body {
		.input-group {
			height: 100%;

			textarea {
				overflow: hidden;
				resize: none;
				padding: 5px 10px;
				min-height: 60px;
			}
		}

		.select-group {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 10px;

			@media (max-width: 490px) {
				grid-template-columns: repeat(2, 1fr);
			}

			> * {
				opacity: 0;
				transform: translateY(20px);
				animation: fadeInUp 0.3s ease-out forwards;
			}

			@for $i from 1 through 6 {
				> *:nth-child(#{$i}) {
					animation-delay: #{($i - 1) * 0.2s};
				}
			}

			@keyframes fadeInUp {
				from {
					opacity: 0;
					transform: translateY(20px);
				}
				to {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		.inputs-mileage {
			display: flex;
			justify-content: space-between;
			gap: 20px;

			&__item {
				width: 50%;
				transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;

				&:focus-within {
					width: 53%;
					opacity: 0.8;
				}

				@media (max-width: 490px) {
					width: 100%;

					&:hover {
						width: 100%;
					}
				}
			}

			@media (max-width: 490px) {
				flex-direction: column;
			}
		}
	}
}
