<main-root>
	<app-breadcrumb [userCar]="userCar" [marginBottom]="0"></app-breadcrumb>

	<div class="editor-container">
		<left-panel [menuItems]="menuItems" [selectedItemId]="'settings'"></left-panel>

		<div>
			<user-car-editor-settings-root
				*ngIf="windowType == CarEditorWindowType.SETTINGS"
				[userCar]="userCar">
			</user-car-editor-settings-root>

			<user-car-note-root
				*ngIf="windowType == CarEditorWindowType.NOTE"
				[note]="selectedNote"
				[userCar]="userCar"
				(saved)="onNoteSaved($event)"
				(deleted)="onNoteDeleted($event)">
			</user-car-note-root>
		</div>
	</div>
</main-root>
