.login_form {
	&__social {
		display: flex;
		align-items: center;
		justify-content: space-between;

		fa-icon {
			font-size: 30px;
		}
	}

	a.google {
		background: #db4c3e;
		border: 1px solid #db4c3e;

		&:hover {
			background: #bd4033;
			border-color: #bd4033;
		}
	}

	&__remember {
		margin-top: 30px;
		margin-bottom: 30px;
		color: #999;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
