<main-root>
	<form class="form" (ngSubmit)="onSubmit()">
		<div class="alert alert-success" role="alert" *ngIf="success">
			{{ 'RESTORE_EMAIL_HAS_BEEN_SEND' | translate }}
		</div>

		<div class="alert alert-danger" role="alert" *ngIf="errorCode" [ngSwitch]="errorCode">
			<small *ngSwitchCase="'email_not_confirmed'">
				{{ 'RESTORE_ERROR_EMAIL_NOT_CONFIRMED' | translate }}
			</small>

			<small *ngSwitchCase="'email_not_registered'">
				{{ 'RESTORE_ERROR_EMAIL_NOT_REGISTERED' | translate }}
			</small>

			<small *ngSwitchDefault>{{ 'UNKNOWN_ERROR' | translate }}</small>
		</div>

		<div class="form-group">
			<label for="email" class="text-muted">
				<small>{{ 'RESTORE_TIP' | translate }}</small>
			</label>

			<input type="email" name="email" id="email"
				   [(ngModel)]="email"
				   [class.is-invalid]="errorCode === 'email_not_confirmed' || errorCode === 'email_not_registered'"
				   class="form-control mt-2" placeholder="{{ 'LOGIN_EMAIL' | translate }}">
		</div>

		<div class="form__button-wrapper mt-4">
			<button type="submit" [disabled]="disabled()" class="btn btn-primary login-button">
				{{ 'RESTORE_SUBMIT_BUTTON' | translate }}
			</button>
		</div>

		<div class="form__message">
			<p>{{ 'REGISTRATION_LOGIN_HINT' | translate }}
				<a routerLink="/login">{{ 'REGISTRATION_LOGIN' | translate }}</a>

				<span> {{ 'REGISTRATION_LOGIN_HINT_OR' | translate }} </span>

				<a routerLink="/registration">{{ 'LOGIN_SIGN_UP' | translate }}</a>
			</p>
		</div>
	</form>
</main-root>
