<main-root>
	<app-breadcrumb [car]="car" [brand]="car.brand" [marginBottom]="0"></app-breadcrumb>

	<div class="editor-container">
		<left-panel [menuItems]="menuItems" [selectedItemId]="windowType"></left-panel>

		<div class="w-100" [class.scroll-x]="windowType === CarWindowType.REGULATION_MAINTENANCE">
			<car-maintenance-root [car]="car"
								  *ngIf="windowType == CarWindowType.REGULATION_MAINTENANCE">
			</car-maintenance-root>

			<car-editor-root *ngIf="windowType == CarWindowType.SETTINGS"></car-editor-root>
		</div>
	</div>
</main-root>
