<div [ngStyle]="marginBottom > 0 ? {'margin-bottom.px': marginBottom} : {}">
	<p-breadcrumb class="max-w-full" [model]="menuItems" [home]="home">
		<ng-template pTemplate="item" let-item>
			<ng-container *ngIf="item.routerLink; else elseBlock">
				<a [routerLink]="item.routerLink" class="p-breadcrumb-item-link">
					<span class="font-semibold" style="color: #334155;">
						{{ item.label | translate }}
					</span>
				</a>
			</ng-container>

			<ng-template #elseBlock>
				<a class="p-breadcrumb-item-link">
					<span class="p-breadcrumb-item-label last-item">
						{{ item.label | translate }}
					</span>
				</a>
			</ng-template>
		</ng-template>
	</p-breadcrumb>
</div>
