<div class="create-engine-container">
	<div class="engine-form-container">
		<alert-root *ngIf="savedSuccess"
			text="{{ 'ENGINE_SUCCESS_SAVE' | translate }}">
		</alert-root>

		<form (ngSubmit)="onSubmit()" class="form" style="max-width: 500px;">
			<div class="mb-4">
				<app-form-input
					name="name"
					id="name"
					[required]="true"
					[label]="'ENGINE_NAME' | translate"
					[placeholder]="'ENGINE_NAME_PLACEHOLDER' | translate"
					[(ngModel)]="engine.name">
				</app-form-input>
			</div>

			<div class="mb-4">
				<number-form-input
					name="displacement"
					id="displacement"
					[required]="true"
					[label]="'ENGINE_DISPLACEMENT' | translate"
					[placeholder]="'ENGINE_DISPLACEMENT_PLACEHOLDER' | translate"
					[min]="0.1"
					[step]="0.1"
					[(ngModel)]="engine.displacement">
				</number-form-input>
			</div>

			<div class="mb-4">
				<label class="form-label text-muted">
					{{ 'ENGINE_FUEL_TYPE' | translate }} <small class="text-danger">*</small>
				</label>

				<!--<label class="form-label text-muted">
					{{ 'ENGINE_FUEL_TYPE' | translate }} <small class="text-danger">*</small>
				</label>

				<select class="form-select" aria-label="Default select example" formControlName="fuelType">
					<option value="" disabled selected hidden>Select fuel type</option>
					<option value="{{ fuelType.value }}" *ngFor="let fuelType of fuelTypeService.options">
						{{ fuelType.label }}
					</option>
				</select>-->

				<p-select
					name="fuelType"
					[options]="fuelTypeService.options"
					[(ngModel)]="engine.fuelType"
					placeholder="{{ 'MY_CARS_INPUT_TRANSMISSION_PLACEHOLDER' | translate }}"
					appendTo="body">
				</p-select>
			</div>

			<div class="mb-4">
				<number-form-input
					name="horsepower"
					id="horsepower"
					[required]="true"
					[label]="'ENGINE_HORSEPOWER' | translate"
					[placeholder]="'ENGINE_HORSEPOWER_PLACEHOLDER' | translate"
					[min]="1"
					[step]="1"
					[(ngModel)]="engine.horsepower">
				</number-form-input>
			</div>

			<div class="flex-center">
				<button type="submit" class="btn btn-primary flex-center" style="max-width: 300px;"
						[disabled]="hasInvalid()">

				<span class="mx-3">
					{{ (engine ? 'ENGINE_SUBMIT_CHANGE_BUTTON' : 'ENGINE_SUBMIT_BUTTON') | translate }}
				</span>

				</button>
			</div>
		</form>
	</div>
</div>
