<main-root>
	<div class="flex-center home">
		<h1>Service book</h1>
		<img src="../../../../assets/images/logo.png" alt="logo" class="home__logo">
	</div>

	<div style="max-width: 1200px; margin: 0 auto;">
		<p-carousel [value]="news"
					[numVisible]="2"
					[numScroll]="2"
					[circular]="true"
					[responsiveOptions]="responsiveOptions">

			<ng-template let-newsItem #item>
				<p-card [styleClass]="'mx-2'">
					<div class="w-100">
						<span class="text-secondary" style="font-weight: 500; font-size: 14px;">
							{{ newsItem.delayedPostingDate | date:'dd.MM.yyyy HH:mm' }}
						</span>

						<h5 class="font-medium fw-bold my-3">
							{{ localizationService.getLocalizedString(newsItem.title) }}
						</h5>

						<div class="text-sm text-secondary mt-2"
							 [innerHTML]="formattedText(localizationService.getLocalizedString(newsItem.content))"></div>
					</div>
				</p-card>
			</ng-template>
		</p-carousel>
	</div>
</main-root>
