<p-confirmDialog [header]="'USER_CAR_DELETE_DIALOG_HEADER' | translate"
				 [message]="'USER_CAR_DELETE_DIALOG_MESSAGE' | translate"
				 [acceptLabel]="'USER_CAR_DELETE_DIALOG_ACCEPT' | translate"
				 [rejectLabel]="'USER_CAR_DELETE_DIALOG_REJECT' | translate"
				 icon="pi pi-exclamation-triangle">
</p-confirmDialog>

<main-root>
	<app-breadcrumb [marginBottom]="0"></app-breadcrumb>

	<div class="content-container">
		<left-panel [menuItems]="menuItems" selectedItemId="cars">
			<ng-template #topContentTemplate>
				<div class="mb-4">
					<bootstrap-button
						[text]="'MY_CARS_ADD_CAR_BUTTON' | translate"
						[bootstrapIconId]="'bi-car-front-fill'"
						[routerLink]="['/user-cars', 'create']">
					</bootstrap-button>
				</div>

				<div class="mb-3">
					<label class="form-label text-muted">
						{{ 'SEARCH_INPUT' | translate }}
					</label>

					<p-inputgroup>
						<p-inputgroup-addon>
							<i class="pi pi-search"></i>
						</p-inputgroup-addon>

						<input pInputText [(ngModel)]="searchTerm"
							   placeholder="{{ 'USER_CARS_SEARCH_INPUT_PLACEHOLDER' | translate }}"
							   pTooltip="{{ 'USER_CARS_SEARCH_INPUT_TOOLTIP' | translate }}"
							   tooltipPosition="bottom"
							   size="small"  />

						<p-inputgroup-addon>
							<p-button icon="pi pi-times"
									  severity="secondary"
									  (click)="clearSearchInput()"
									  pTooltip="{{ 'BRANDS_CLEAR_SEARCH_INPUT_BUTTON' | translate }}"
									  tooltipPosition="bottom" />
						</p-inputgroup-addon>
					</p-inputgroup>
				</div>
			</ng-template>
		</left-panel>

		<div class="user-cars-container">
			<div class="bd-callout bd-callout-danger" style="max-width: max-content; margin: 0"
				 *ngIf="filteredUserCars.length === 0">

				<span [innerHtml]="'USER_CARS_EMPTY' | translate"></span>
			</div>

			<div class="mt-4 m-auto" style="max-width: 500px;" *ngIf="deletedSuccess">
				<div class="mx-3">
					<alert-root text="{{ 'USER_CAR_DELETE_SUCCESS_MESSAGE' | translate }}"></alert-root>
				</div>
			</div>

			<div class="user-cars">
				<div class="card user-car mb-3" *ngFor="let userCar of filteredUserCars">
					<div>
						<img
							src="{{ userCar.imageResource?.url }}"
							class="card-img-top" alt="car"
							(error)="setDefaultImage($event)">
					</div>

					<div>
						<div class="card-body">
							<h5 class="card-title">{{ userCar.car?.brand?.brand }}</h5>
							<p class="card-text">{{ userCar.car?.model }}</p>

							<p class="text-muted">
								<i class="bi bi-car-front-fill"></i>

								{{ userCar.licensePlate }} / {{ userCar.vinCode }}
							</p>
						</div>

						<div class="tags"  style="margin: 15px">
							<p-tag [value]="userCar.vehicleYear?.toString()">
								<ng-template pTemplate="icon">
									<i class="pi pi-calendar"></i>
								</ng-template>
							</p-tag>

							<p-tag [value]="(userCar.vehicleMileage | number: '1.0-0')?.toString()">
								<ng-template pTemplate="icon">
									<i class="bi bi-speedometer"></i>
								</ng-template>
							</p-tag>

							<p-tag [value]="transmissionService.getLocalizedTransmission(userCar.transmissionType)">
								<ng-template pTemplate="icon">
									<i class="bi bi-diagram-2-fill"></i>
								</ng-template>
							</p-tag>

							<p-tag [value]="fuelTypeService.getLocalizedFuelType(userCar.fuelType)">
								<ng-template pTemplate="icon">
									<i class="bi bi-fuel-pump-fill"></i>
								</ng-template>
							</p-tag>
						</div>

						<div style="margin: 15px">
							<div class="d-flex gap-2">
								<a [routerLink]="['/user-cars/', userCar.id]" class="btn btn-primary">
									{{ 'MY_CARS_SELECT_CAR_BUTTON' | translate }}
								</a>

								<a (click)="deleteUserCar(userCar)" class="btn btn-danger">
									{{ 'MY_CARS_DELETE_CAR_BUTTON' | translate }}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main-root>
