<p-confirmDialog
	[header]="'ENGINES_DELETE_DIALOG_HEADER' | translate"
	[message]="'ENGINES_DELETE_DIALOG_MESSAGE' | translate"
	[acceptLabel]="'ENGINES_DELETE_DIALOG_ACCEPT' | translate"
	[rejectLabel]="'ENGINES_DELETE_DIALOG_REJECT' | translate"
	icon="pi pi-exclamation-triangle">
</p-confirmDialog>

<div class="engines-container">
	<alert-root *ngIf="deleteSuccess"
				text="{{ 'ENGINES_DELETE_SUCCESS_MESSAGE' | translate }}">
	</alert-root>

	<div class="cards engines">
		<ng-container *ngFor="let engine of engines">
			<div class="card engines__card">
				<div class="card-body">
					<ul class="list-group list-group">
						<li class="list-group-item d-flex justify-content-between align-items-start" *ngIf="engine.name != null">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ 'ENGINE_NAME' | translate }}</div>

								{{ engine.name }}
							</div>
						</li>

						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ 'ENGINE_FUEL_TYPE' | translate }}</div>

								{{ fuelTypeService.getLocalizedFuelType(engine.fuelType) }}
							</div>
						</li>

						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ 'ENGINE_DISPLACEMENT' | translate }}</div>

								{{ engine.displacement }}
							</div>
						</li>

						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold">{{ 'ENGINE_HORSEPOWER' | translate }}</div>

								{{ engine.horsepower }}
							</div>
						</li>
					</ul>

					<div class="card-buttons mt-3">
						<a [routerLink]="['/cars', car.brand?.id, car.id, 'engines', engine.id]" class="btn btn-primary">
							<i class="bi bi-nut-fill"></i>
							{{ 'ENGINES_VIEW_BUTTON' | translate }}
						</a>

						<a class="btn-danger btn" (click)="onDeleteEngine(engine)">
							<i class="bi bi-trash-fill"></i>
							{{ 'ENGINES_DELETE_BUTTON' | translate }}
						</a>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>
